
body
{
    background-color: #323232;
    color: whitesmoke;
    font-family: 'Calibri';
}

div
{
    margin: 10px;
}

div.min_navbar
{
    border: 2px solid whitesmoke;
    border-radius: 10px;

    display: inline-block;

    overflow: hidden;

    width: 90%;
}

a.min_navbar_button
{
    border-right: 2px solid whitesmoke;
    color: whitesmoke;
    cursor: default;
    overflow: hidden;
    float: left;
    padding: 10px 30px;
    text-decoration: none;
}

a.min_navbar_button.right
{
    border-right: 0;
    border-left: 2px solid whitesmoke;
    float: right;
}

a.min_navbar_button:hover
{
    animation: button1 2s infinite;
    background-color: skyblue;
    cursor: pointer;
}

textarea.min_textarea
{
    background-color: #323232;
    color: whitesmoke;
    display: inline-block;
    font-family: 'Calibri';
    font-size: large;
    margin: 5px;
    resize: none;
    width: 90%;
}

a.min_button
{
    border: 2px solid whitesmoke;
    border-radius: 15px;
    cursor: default;
    display: inline-block;
    margin: 5px;
    padding: 10px 30px;
    text-decoration: none;
}

a.min_button.inline
{
    border-left: 2px solid whitesmoke;
    border-right: 2px solid whitesmoke;
    border-top: 0;
    border-bottom: 0;
    border-radius: 0px;
    display: inline-block;
    width: 90%;
    margin: 0%;
}

a.min_button:hover
{
    animation: button1 2s infinite;
    background-color: skyblue;
    cursor: pointer;
}

p.min_text 
{
    display: inline-block;
    font-size: 25pt;
    margin: 5px;
    text-transform: uppercase;
}
p.min_text.left
{
    float:left;
}

div.min_div
{
    border: 2px whitesmoke solid;
    color: whitesmoke;
    overflow: hidden;
}

@keyframes button1 {
    0% {background-color: #323232;}
    50% {background-color: whitesmoke;}
    100% {background-color: #323232;}
    0% {color: whitesmoke;}
    50% {color: #323232;}
    100% {color: whitesmoke;}
}
